<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- in minute -->
    <add key="interval" value="0.5"/>
  </appSettings>
  <connectionStrings>
    <add name="Tracking" connectionString="Server=10.200.0.18\SVRSGPEDGSQL08,50298;Database=EISCF_ReaxysTracking_New;User Id=oos;Password=it-oos;"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
</configuration>